{
  "extends": ["airbnb-typescript/base"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "arrow-parens": "off",
    "operator-linebreak": "off",
    "arrow-body-style": "off"
  }
}
